{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Panel</title>
    <link rel="stylesheet" type="text/css" href="{% static 'driver_panel.css' %}">
</head>

<body>

    <header>
        <h1>ShifaShuttle</h1>

        {% block nav %}
        <nav>
            <a href="{% url 'driver_home' %}">Home</a>
        </nav>
        {% endblock %}
    </header>


    <main>
        {% block content %}
        <div class="profile-container">
            {% if user.is_authenticated %}
            <div class="container">


                <div class="feature-box">
                    <h3><a href="{% url 'driver_messages' %}" style="text-decoration: none;">Inbox</a></h3>
                    <p>View your messages.</p>
                </div>
                <div class="feature-box">
                    <h3><a href="{% url 'driver_hire_requests' %}" style="text-decoration: none;">Get Hired</a>
                    </h3>
                    <p>See Your Hire Requests.</p>
                </div>
                <div class="feature-box">
                    <h3><a href="{% url 'driver_profile' %}" style="text-decoration: none;">Profile</a></h3>
                    <p>View and Edit Your Profile.</p>
                </div>

            </div>
            {% else %}
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">Log In</a>
            {% endif %}
        </div>
        {% endblock %}


    </main>

</body>

</html>