{% extends 'base.html' %}

{% block switch_link %}
<a href="{% url 'driver_panel' %}" class="btn btn-primary">Driver Panel</a>
<a href="{% url 'driver_home' %}" class="btn btn-secondary">Home</a>
{% endblock %}

{% block content %}
<div class="container my-5">
    <h2 class="mb-4">Hire Requests</h2>
    <div class="row">
        {% for hire_request in hire_requests %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Name: {{ hire_request.user.get_full_name }}</h5>
                    <p class="card-text">Phone Number:
                        {% if hire_request.user.phone %}
                        {{ hire_request.user.phone }}
                        {% else %}
                        Not provided
                        {% endif %}
                    </p>
                    <p class="card-text">Current Location: {{ hire_request.current_location }}</p>
                    <p class="card-text">Destination: {{ hire_request.destination }}</p>
                    {% if hire_request.status == 'pending' %}
                    <form method="post" action="{% url 'update_hire_request' hire_request.id %}">
                        {% csrf_token %}
                        <button type="submit" name="status" value="accepted" class="btn btn-success">Accept</button>
                        <button type="submit" name="status" value="rejected" class="btn btn-danger">Reject</button>
                    </form>
                    {% elif hire_request.status == 'accepted' %}
                    <p class="status text-success">Status: Accepted</p>
                    {% elif hire_request.status == 'rejected' %}
                    <p class="status text-danger">Status: Rejected</p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}